name: Run all tests

on: [push, pull_request]

env:
  PIP: "env PIP_DISABLE_PIP_VERSION_CHECK=1
            PYTHONWARNINGS=ignore:DEPRECATION
            pip --no-cache-dir"

jobs:
  tests_py27:
    runs-on: ubuntu-20.04
    container: python:2.7
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Show Python version
      run: python -V

    - name: Install dependencies
      run: $PIP install setuptools

    - name: Run the tests
      run: python setup.py test -q

  build_py34:
    runs-on: ubuntu-20.04
    container: python:3.4
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Show Python version
      run: python -V

    - name: Install dependencies
      run: $PIP install setuptools

    - name: Run the tests
      run: python setup.py test -q

  build_py35:
    runs-on: ubuntu-20.04
    container: python:3.5
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Show Python version
      run: python -V

    - name: Install dependencies
      run: $PIP install setuptools

    - name: Run the tests
      run: python setup.py test -q

  build_py3x:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10", 3.11]
        os: [ubuntu-20.04]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Show Python version
      run: python -V

    - name: Install dependencies
      run: $PIP install setuptools

    - name: Run the tests
      run: python setup.py test -q
